#AddTask-page {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#AddTask-page h1 {
  font-family: Arial, sans-serif;
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

#input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#add-button,
#logout-button,
#delete-button,
#Edit-button,
#Save-button,
#Cancle-button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
}

#logout-button:hover {
  background-color: #37089b;
}

#add-button:hover {
  background-color: #7956c4;
}

#delete-button:hover {
  background-color: #d45a5a;
}

#Edit-button:hover {
  background-color: #1976d2;
}

#Save-button:hover {
  background-color: #26d432;
}

#Cancle-button:hover {
  background-color: #cb4747;
}

#add-button {
  background-color: #ad79d8;
  color: white;
}

#logout-button {
  background-color: #4c2a57;
  color: white;
  float: right;
}

#delete-button {
  background-color: #844141;
  color: white;
}

#Edit-button {
  background-color: #3d6572;
  color: white;
}

#Save-button {
  background-color: #448246;
  color: white;
}

#Cancle-button {
  background-color: #f0ad4e;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  font-size: 1em;
}

li button {
  margin-left: 10px;
}
